[submodule "QTool/src/main/adfawhf/DexBuilder"]
	path = QTool/src/main/adfawhf/DexBuilder
	url = https://github.com/LSPosed/DexBuilder
[submodule "libs/EasyAdapter"]
	path = libs/EasyAdapter
	url = https://github.com/Hicores/EasyAdapter
[submodule "libs/XPopup"]
	path = libs/XPopup
	url = https://github.com/Hicores/XPopup
[submodule "libs/BeanShell"]
	path = libs/BeanShell
	url = https://github.com/Hicores/BeanShell
[submodule "libs/DexKit"]
	path = libs/DexKit
	url = https://github.com/Hicores/DexKit
