[submodule "QTool/src/main/adfawhf/DexBuilder"]
	path = QTool/src/main/adfawhf/DexBuilder
	url = https://github.com/LSPosed/DexBuilder
[submodule "libs/EasyAdapter"]
	path = libs/EasyAdapter
	url = https://github.com/Hicores/EasyAdapter
